.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: black;
}
.image_feature{
    width: 100px ;
    height: 100px;
    object-fit:cover ;
}
.alert-danger{
    margin-top: 10px;
    padding: 3px 5px ;
}
